<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="EdpuLoginPageTestSuite">
  <test name="EdpuLoginPageTests">
    <classes>
      <class name="Edpuloginpage.EdpuLoginPageTestcases">
        <methods>
          <include name="ValidatetheFiledsOnLoginPage" />
          <include name="WithEnteringValidEmailIdAndWithoutEnterPassword" />
          <include name="WithoutEnterEmailIdAndWithEnterPassword" />
          <include name="UnRegisteredEmailidandPassword" />
          <include name="EnterValidEmailidAndInvalidpassword" />
          <include name="EnterInValidEmailidAndvalidpassword" />
          <include name="WithoutEnteringEmailandPassword" />
          <include name="ValidAccountmailAndValidpassword" />
        </methods>
      </class>
    </classes>
  </test>
</suite>
